body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #CDE990;
    background-image: linear-gradient(to right, #CDE990, #68B984);
}

h1 {
    color: #ffffff;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('images/river-gc4605e919_1280.jpg');
}

div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0f8842;
}

select {
    width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #379237;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #18aa55;
}

/* Optional: Center the form */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Add photo for the main heading */
h1 {
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}
